<h1>Train Information</h1>

<div class="container-fluid">
  <div class="d-flex align-items-center centered">
    <div class="col-md-6 col-sm-8 col-xs-12 col-lg-4 col-xl-3">
      <form class="form-container" [formGroup]="trainQueryForm" (ngSubmit)="onFormSubmit(trainQueryForm.value)">
        <div class="form-group">
          <label>Origin</label>
          <input class="form-control" formControlName="origin" placeholder="Input Origin">
        </div>
        <div class="form-group">
          <label>Destination</label>
          <input class="form-control" formControlName="destination" placeholder="Input Destination">
        </div>
        <div class="form-group">
          <label>Departure Date</label>
          <input class="form-control" formControlName="departure_date" placeholder="Input Departure Date">
        </div>
        <button type="submit" class="btn btn-primary btn-block" *ngIf="!isLoading">Submit</button>
      </form>
    </div>
  </div>
</div>



<p *ngIf="!displayTrains"><em>Loading...</em></p>

<body *ngIf="displayTrains">

  <img src={{mockImagePath}} class="img-fluid" width="354" height="318">

  <ul class="mt-3" style="margin-left: -1rem" *ngFor="let train of displayTrains">
    <li>Route Name: {{ train.route_name }}</li>
    <li>Historical Departure Delay: {{ train.historical_departure_delay }} delay</li>
    <li>Historical Arrival Delay: {{ train.historical_arrival_delay }} delay</li>
    <li>Scheduled Departure Time: {{ train.scheduled_departure }}</li>
    <li>Scheduled Arrival Time: {{ train.scheduled_arrival }}</li>
  </ul>
</body>
